*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1160px;
  margin: 0 auto;
}

.headerBackgroundImage {
  background-image: url(../IMG/Header/headerBackgroundImage.svg);
  padding-bottom: 243px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerLogoSloganFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBackgroundBox {
  background: rgba(94, 93, 88, 0.6);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 264px;
}
.headerLogoFrame {
  background: #18cfab;
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0,
    100% 27%,
    100% 51%,
    100% 78%,
    50% 100%,
    50% 100%,
    0 78%,
    0 27%,
    50% 0
  );
}

.headerLogoLetter {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  display: inline-block;
}

.headerLogoSlogan {
  margin-left: 5px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  display: flex;
}

.headerLogoAqua {
  color: #18cfab;
  font-weight: bold;
}

.headerMenu {
  display: flex;
  align-items: center;
}

.headerMenuList {
  display: flex;
  gap: 22px;
  margin-right: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.headerMenulinks > a {
  color: rgba(255, 255, 255, 0.6);
}

.headerMenulinks > a:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  padding-bottom: 49px;
}

.headerSlogan {
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.headerSloganText > span {
  color: #18cfab;
}


