.page_body{
    font-family: 'Open Sans', sans-serif;
}
/*header*/
.navigation{
    display: flex;
    justify-content: center;
    background: #313131;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.navigation_section_link{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.logo {
    margin-left: 27px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 27px;
    width: 27px;
    height: 27px;
}

.nav__search {
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.nav__search:hover{
background-color: black;
}

.navigation_section_link:hover{
    color: #14b9d5;
}

.page__header--bg {
    background-image: url("/img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    background-position-x: center;
    background-attachment: fixed;
}
 
.parallax-img__head {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -300px;
    display: none;
}

.page__header {
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header__title {
    margin-top: calc(164px + 70px);
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
  }
  .buttons-wraper {
    display: flex;
    justify-content: center;
  }
  .btn {
    display: inline-block;
    width: 170px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
  }
  .btn + .btn {
    margin-left: 20px;
  }
  .btn--green {
    background: #89ca62;
  }
  .btn--green:hover {
    box-shadow: 1px 1px 10px #89ca62;
  }
  .btn--blue {
    background: #14b9d5;
  }
  .btn--blue:hover {
    box-shadow: 1px 1px 10px #14b9d5;
  }
  
  /*main*/
  .popular {
    padding: 49px 0 70px;
    background-color: #f2f2f2;
  }

