.page_body {
  font-family: "Roboto", sans-serif;
  width: 1300px;
  margin: 0 auto;
}

.header_logo{
  margin-top: 68px;
}
.logo_title {
  font-size: 80px;
  width: 1300px;
  margin: 0 auto;
  margin-top: 63px;
}

.logo_title2 {
  color: #4bcaff;
  font-size: 80px;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

.navigation{
  background-color: #35444F;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-top: 38px;
}

.navigation_section{
border-right: 1px solid white;
display: flex;
}

.navigation_section:first-child {
  border-left: 1px solid white;
}

.navigation_section_link{
  font-size: 24px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.navigation_section:hover {
  background-color: #222f3a;
}
/*main*/

.sidebar_nav{
  border: 1px solid #000;
  width: 344px;
  margin-top: 50px;
  margin-right: 70px;
}

.sidebar_nav_list:hover{
  background-color: #DBDBDB;
  transition: 1s;
  padding-left: 70px;
  color: #000;
}


.sidebar_nav_list_link{
font-size: 27px;
color: #485863;
padding-left: 42px;
display: block;
padding: 26px 0 26px 44px;

}


.sidebar_nav_list_link:hover{
  color: #000;
  }


.main{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.main_container {
  width: 885px;
  margin-top: 50px;
}

.logo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.main_content {
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
  margin-bottom: 54px;
}

/*footer*/
.footer {
  background-color: #b4b7ba;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  width: 875px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-block-contant {
  text-decoration: none;
  font-size: 28px;
  color: black;
  text-align: center;
  padding: 20px 0;
  display: block;
}
.footer-nav-block-contant:hover {
  color: #3181a6;
  text-decoration: underline;
  transition: 0.2s;
}

.copyright {
  font-weight: 400;
  font-size: 24px;
}
