.page-body {
  font-family: sans-serif;
  background-image: url("../img/page-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header start */
.page-header {
  padding: 35px 0 15px;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  position: relative;
}
.logo__img--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.logo__text {
  margin-left: 8px;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.5s;
  border: 3px solid #f26522;
  padding: 5px;
}
.logo__text--small {
  font-size: 18px;
  line-height: 24px;
}
.logo:hover .logo__img--hover {
  opacity: 1;
}
.logo:hover .logo__text {
  color: #f26522;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 60px;
  justify-content: space-between;
  border: 3px solid #f26522;
  padding: 20px;
}
.email,
.phone {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: 0.5s;
}
.email:hover,
.phone:hover {
  color: #f26522;
}

/* main start */
.page-main {
  flex-grow: 1;
}
.hiden {
  position: absolute;
  font-size: 0;
  padding: 0;
  border: none;
  margin: -1px;
}

.tours__list {
  padding-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 58px;
}
.tours__link {
  display: flex;
  flex-direction: column-reverse;
}
.card {
  position: relative;
  overflow: hidden;
}
.card__img {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #fff, #000) 1 100%;
  border-top: 0;
  border-bottom: 0;
}
.tours__name {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.5s;
}
.card__details {
  position: absolute;
  bottom: -60px;
  left: 2px;
  right: 2px;
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7px 15px 12px;
  transition: 0.5s;
}
.card__price {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.card__price--big {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-top: 7px;
}
.card__view-details {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
.card__view-details::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-left: 10px;
}
.tours__link:hover .tours__name {
  color: #f26522;
}
.tours__link:hover .card__details {
  bottom: 0;
}
/* main end */

/* footer start */
.page-footer {
  padding-bottom: 15px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
/* footer end */
