.menu_list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navigation {
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.menu_link {
  color: red;
  text-decoration: none;
  font-weight: 700;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  letter-spacing: 2.7px;
}

.menu_item {
  margin-left: 36px;
  margin-right: 36px;
  text-align: center;
  list-style-type: none;
}

.page_body {
  font-family: sans-serif;
  margin: 0;
}

.banner {
  background: url(../img/img1.png) 100% 100%;
  background-size: cover;
  padding-bottom: 61.64%;
}

.main_title {
  margin-top: 49px;
  text-align: left;
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 3.3px;
  border: 3px solid rgb(167, 10, 10);
  display: inline-block;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-top: 38px;
  margin-left: 67.5px;
  margin-right: 67.5px;
}

.main_button {
  background: red;
  color: white;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.8px;
  border-radius: 4px;
  border: 1px red;
  margin-left: auto;
  margin-top: 66px;
  margin-right: auto;
  display: block;
}

.footer_1 {
  font-size: 16px;
  letter-spacing: 2.4px;
  font-weight: 700;
  margin-top: 82px;
  text-align: right;
  margin-right: 105px;
  padding-bottom: 29px;
}
