.page_body {
  font-family: "Montserrat", sans-serif;
}

.banner {
  background: url(../img/img1.png) 100% 100%;
  background-size: cover;
  padding-bottom: 61.64%;
}

.menu {
  height: 78px;
}
.menu_wrapper {
  width: 1024px;
  margin: 0 auto;
  height: inherit;
  text-align: center;
}

.menu_list {
  display: inline;
}

.list_link {
  color: red;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding-right: 72px;
}

.main_title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  padding-top: 48px;
}

.section_content {
  text-align: center;
  width: 1145px;
  margin: auto auto;
  margin-top: 38px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.section_content2 {
  text-align: center;
  width: 1145px;
  margin: auto auto;
  margin-top: 28px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
}

.btn {
  background: red;
  color: white;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.8px;
  border-radius: 4px;
  border: 1px red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
}

.footer_content {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2.4px;
  margin-top: 82px;
  margin-right: 105px;
  padding-bottom: 29px;
}
