.wrapper{
    display: grid;
    grid-template-columns: minmax(40px, 100px) minmax(400px, 1fr) 200px;
    grid-template-rows: 100px 1fr 80px;
    height: 100%;
}

.wrapper > div{
    padding: 1em;
    background-color: aqua;
}

.wrapper > div.light{
    padding: 1em;
    background-color: rgb(133, 228, 221);
}

.wrapper > div.very_light{
    padding: 1em;
    background-color: aqua
    
}

.box1{
grid-column: 1 / span 3;
grid-row: 1 / span 1;
}

.box2{

}

.box3{
    
}

.box4{

}

.box5{
grid-column: 1 / span 3;
grid-row: 3 / span 1;
}

.box6{
   
}