.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    height: 500px;
    box-sizing: border-box;
    align-content: space-between;
    background-color: cyan;
    padding-left: 0;

  } 

.box__item--first{
   flex-basis: 500px;
   width: 70%;
}
.box__item--third,
.box__item--second{
    width: calc(30% - 20px);
    /* height: calc(50% - 10px); */
    flex-basis: calc((50% - 10px));
}








































/* .box {
  margin: 0;
  padding-left: 0;
  list-style: none;
  min-height: 20px;
  font-size: 50px;
  border: 2px solid rgb(19, 2, 2);
  display: flex;
  align-items: flex-start;
  padding: 20px;
background-color: gray;
} */

  /* justify-content:;
        align-items:;
        flex-direction:;
        flex-wrap:; */

/* 
.box__item {
  background-color: #fff;
  display: flex;
  padding: 18px 18px 18px 18px;
  align-items: center;
  margin: 20px;
} */
  /* justify-content: center;*/
  /* alig-self:;
        flex-grow:;
        flex-basis:;
        flex-shrink:;
        order:; */

/* justify-content: center;*/
/* .box__item--first,
.box__item--third{
    margin-right: 20px;
}

.box__item--second{
    margin-right: auto;
} */


/*
For text
    text-align

For inline element
    text-align
    vertical-align

    margin-right
    margin-left
    padding-right
    padding-left


For inline-block element
    text-align
    vertical-align -> MUST HAVE

    margin
    padding

For block element
    margin
    padding

FLEX FOR ALL ELEMENTS