.page__title {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;

  border: 10px groove #9932cc;

  color: brown;
  color: #a52a2a;
  color: #a52a2aff;
  color: hsl(0, 59%, 41%);
  color: rgb(165, 42, 42);
  color: rgba(165, 42, 42, 1);

  box-shadow: 0px 0px 10px 10px;

  text-shadow: 2px 5px 2px plum;

  background-image: linear-gradient(90deg, #f00 0%, #ff0 80%);
  background-image: repeating-linear-gradient(90deg, #f00 50px, #ff0 80px);
}
