.page_body {
  font-family: "Ubuntu", sans-serif;
}

.page-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/page-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.page_header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page_header_wrapper {
  display: flex;
  padding: 18px 0;
  align-items: center;
}

.logo_wrapper {
  flex-grow: 1;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 0.5s;
}

.logo:hover {
  color: #3cb878;
}

.menu {
  display: flex;
}

.menu_item:not(:last-child) {
  margin-right: 25px;
}
.menu_img path {
  transition: fill 0.5s;
}
.menu_img:hover path {
  fill: #3cb878;
}

.user_registr {
  margin-left: 50px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  vertical-align: middle;
  position: relative;
}
.user_registr::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  left: -25px;
  top: -2px;
}
.user_registr_link {
  transition: color 0.5s;
}
.user_registr_link:hover {
  color: #3cb878;
}

.page_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form_signup {
  max-width: 444px;
  padding: 30px 60px 38px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}

.form_signup::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  top: 29px;
  left: 0;
}

.form_signup_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 5px;
  margin-bottom: 34px;
}

.p_sign_up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form_signup_login_wrapper {
  align-self: end;
  text-align: right;
}

.form_signup_login {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.5s, text-decoration-color 0.5s;
}

.form_signup_login:hover {
  color: #01813f;
  text-decoration-color: #01813f;
}

.form_signup_facebook,
.form_signup_google {
  text-align: right;
  display: inline-block;
  padding: 17px 22px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 3px;
  transition: background-color 0.5s;
  position: relative;
}

.form_signup_facebook::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  top: 11px;
  left: 40px;
}

.form_signup_google::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  top: 11px;
  left: 50px;
}

.form_signup_facebook::after {
  background-color: #0a162f;
  opacity: 0.1;
}

.form_signup_google::after {
  background: #2b0d09;
  opacity: 0.1;
}

.form_signup_facebook {
  background-color: #305db8;
}

.form_signup_facebook:hover {
  background-color: #022263;
}

.form_signup_google {
  padding-right: 27px;
  background-color: #df4a32;
}

.form_signup_google:hover {
  background-color: #ab1f09;
}

.form_signup_facebook::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 24px;
  top: 12px;
  left: 17px;
  background-image: url(../img/icons/facebook.png);
}

.form_signup_google::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 19px;
  top: 15px;
  left: 12px;
  background-image: url(../img/icons/google.png);
}

.form_signup_main {
  display: flex;
  flex-direction: column;
}

.form_signup_or {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-bottom: 12px;
  position: relative;
}

.form_signup_or span {
  padding: 0 3px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.form_signup_or::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  left: 0;
  top: 8px;
}

.form-sign-up__input {
  padding: 15px 19px;
  margin-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.form-sign-up__input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form-sign-up__input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.form-sign-up__terms-label {
  padding-left: 30px;
  margin-bottom: 20px;
  position: relative;
}
.form-sign-up__terms-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: -1px;
  border: 1px solid #f2f2f2;
  background-image: none;
}
.form-sign-up__terms-checkbox:checked + .form-sign-up__terms-label::before {
  background-image: url(../img/icons/checkbox.svg);
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.form-sign-up__terms-checkbox {
  display: none;
}
.form-sign-up__terms-link {
  color: #3cb878;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.5s, text-decoration-color 0.5s;
}
.form-sign-up__terms-link:hover {
  color: #01813f;
  text-decoration-color: #01813f;
}
.form-sign-up__submit {
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.5s;
}
.form-sign-up__submit:hover {
  background-color: #01813f;
}
