.grid-container {
  display: grid;
  /* grid-auto-flow: column; */
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: repeat(3, minmax(200px, 400px)); */
  /* grid-template-rows: repeat(3, 100px); */
  /* grid-template-columns: repeat(3, min-content); */
  /* grid-template-columns: repeat(3, max-content); */
  grid-template-columns: repeat(4, 300px);
  grid-template-columns: repeat(2, 150px);

  grid-auto-rows: minmax(150px, auto);

  justify-content: center;
}

.grid-element {
  font-size: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b6b1d6;
  border: 1px solid #000;
}

.grid-element--last {
  grid-column: span 3;
}
