.page {
  height: 100%;
}

.page__body {
    height: :100%;
    margin:0
    font-family: sans-serif;
}

.text {
  color: #000;
  line-height: 1.25;
  font-weight: 700;
  font-size: 20px;
}

.text--green {
  color: green;
  line-height: 1.25;
  font-weight: 700;
  font-size: 20px;
}

p {
  color: coral;
}

/* 
tag, pseudo-elements - 1
Class, pseudo-class, by attribute - 10
ID - 100 
Attribute style - 1000

!important 
*/
