body {
	background: #35444f;
}
.logo {
	color: #ffffff;
}
.nav-top__list {
	background: #bac1c7;
}
.nav-top__item {
	border-color: #000000;
}
.nav-top__link {
	color: #000000;
}
.nav-top__link:hover {
	background: #dadbdb;
}
.aside__link {
	color: #ffffff;
	background-color: #84898d;
}
.content__img__wraper {
	background-color: #bac1c7;
}
.content__text {
	color: #bac1c7;
}
.nav-bottom__link {
	color: #bac1c7;
}
.footer__copyright {
	color: #bac1c7;
}
