.logo {
	color: #000000;
}
.nav-top__list {
	background: #35444f;
}
.nav-top__item {
	border-color: #ffffff;
}
.nav-top__item:first-child {
	border-left-color: #ffffff;
}
.nav-top__link {
	color: #ffffff;
}
.nav-top__link:hover {
	background: #222f3a;
}
.aside__link {
	color: #495863;
}
.content__text {
	color: #2c2c2c;
}
.nav-bottom__link {
	color: #0c1927;
}
.footer__copyright {
	color: #010101;
}
