//media
$min-media-mobile: 320px;
$min-media-tablet: 768px;
$min-media-desktop: 1200px;

// colors
$activeBtnClr: #57a4a4;
$primaryTextColor: #b4b3b3;
$postsAboutColor: #7c7c7c;
$postsDescriptionColor: #5c5c5c;
$burgerHover: #e5e5e5;
$basic-font: normal 400 14px/1.5 "Roboto", sans-serif;
$lastInsShotBackground: #e5e5e5;
