.page_body {
	font-family: "Lato", sans-serif;
	font-size: 18px;
    /* background: wheat; */
}


.page_header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: rosybrown;
    color: white;

}

.page_nav_menu{
    display: flex;
    column-gap: 25px;
    height: 60px;
    align-items: flex-end;
}

.logo{
    display: flex;
    column-gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.top-main{
    background: url(../img/mainpng.png);
    height: 100vh;
    text-align: center;
    padding-top: 300px;
}

.main-title{
    font-size: 72px;
    text-transform: uppercase;
    
}
.short-title{
    padding-top: 40px;
    font-size: 24px;
    padding-bottom: 40px;
}

.btn-title{
    
}