html {
  /*Высоту задаем только картинкам*/
  box-sizing: border-box;
}
*,
*::after *::before {
  box-sizing: inherit;
}

.page__body {
  font-size: 30px;
}

.text {
  color: blueviolet;
  width: 300px;
  padding: 20px;
  border: 1px groove #000;

  display: inline;
}

.word {
  color: #0f0;
  width: 300px;
  height: 160px;
  border: 1px groove #000;
  padding-left: 20px;
  padding-top: 100px;
  margin-top: 100px;
  display: inline-block;

  vertical-align: middle;
}

.word--bigger {
  line-height: 3;
}
