* {
  margin: 0;
  padding: 0;
}
.page_body {
  font-family: "Roboto", sans-serif;
  width: 1280px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}

/*header*/
.accent_color_logo {
  color: #4bcaff;
}

.logo_link_color {
  color: black;
}

.header_logo {
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;

  margin-top: 63px;
}

.navigation {
  background-color: #35444f;

  text-align: center;
}

.navigation_section {
  display: inline-block;
  transition: 0.2s;
  border-right: 1px solid white;
}

.navigation_section:first-child {
  border-left: 1px solid white;
}

.navigation_section_link {
  color: white;
  font-weight: 400;
  font-size: 24px;
  padding: 26px 37px 19px;
  display: block;
}

.navigation_section:hover {
  background-color: #222f3a;
}

/*main*/
.sidebar_container {
  border: 1px solid;
  width: 342px;
}

.sidebar_navigation_section_link {
  color: #485863;
  font-size: 27px;
  font-weight: 400;
  padding: 26px 0 26px 44px;
  display: block;
}

.sidebar_navigation_section :hover {
  background-color: #dbdbdb;
  transition: 1s;
  padding-left: 70px;
  color: black;
  border: 10px;
}

/* .img_fon {
  margin-left: 53px;
  padding-top: 48px;
} */
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  align-items: flex-start;
}
.main_container {
  width: 885px;
}

.side_and_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.main_text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
  margin-bottom: 54px;
}

.main_text:first-of-type {
  margin-bottom: 34px;
}
/* footer */
/* .navigation_footer {
  background-color: #35444f;
  list-style-type: none;
  text-align: center;
  margin-left: 98px;
}

.navigation_section_footer {
  display: inline-block;
  padding: 25px 45px;
  border: 0 groove white;
  border-width: 0px 1px 0px 0px;
}

.navigation_section_link_footer {
  color: white;
  font-weight: 400;
  font-size: 24px;
} */
footer {
  padding-bottom: 30px;
}
.footer {
  background-color: #b4b7ba;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  width: 875px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-block-contant {
  text-decoration: none;
  font-size: 28px;
  color: black;
  text-align: center;
  padding: 20px 0;
  display: block;
}
.footer-nav-block-contant:hover {
  color: #3181a6;
  text-decoration: underline;
  transition: 0.2s;
}
/* .copyrighte {
  padding-left: 50px;
  padding-right: 20px;
  font-size: 20px;
  display: inline;
  padding-top: 5px;
} */

.copyright {
  font-weight: 400;
  font-size: 24px;
}
